BODY {
background: PowderBlue;
margin-left: 30px;
margin-right: 30px;
}

H3  {
color: MidnightBlue;
font-size: 14px; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
}

H3.comment {
color: OrangeRed;
margin-left: 50px;
margin-right: 50px;
margin-top: 20px;
margin-bottom: 20px;
font-size: 12px;
}

H3.names {
font-size: 12px;
}
